@import url("https://fonts.googleapis.com/css?family=Montserrat:100");

#page-login {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside {
  flex: 7;
  background: rgb(12, 12, 12);
  margin: 0;
  height: 100vh;
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url("https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7118759521e3184778a3b5e010e202c6");
  background-size: cover;
  background-position: center;
  z-index: 1;

  .sub {
    color: rgb(100, 220, 220);
    letter-spacing: 1em;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 4em;
    letter-spacing: 0.5em;
  }
}

main {
  flex: 8;
  background-color: #fff;
  display: flex;
  padding: 0 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
  }

  form {
    p {
      font-family: "Roboto", sans-serif;
      color: black;
      font-size: 2em;
      letter-spacing: 0.2em;
    }
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background-color: #fff;
      border: 2px solid #a8a8b3;
    }

    button,
    input {
      margin-top: 16px;
      width: 100%;
    }
    button {
      border-radius: 8px;
      height: 50px;
      color: #fff;
      background-color: black;

      &:hover {
          border-color: rgb(100, 220, 220);
      }
    }
  }
}
