.container {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}

table {
  width: 400px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.787);
}

th,
td {
  padding: 15px;
  background-color: rgba(47, 47, 47, 0.733);
  color: #fff;
  width: 100%;
}

th {
  text-align: left;
}

thead {
  display: block;
  th {
    background-color: #25869e;
  }
}

tbody {
  display: block;
  overflow-y: scroll;
  height: 500px;
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
